include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.parallax
            .parallax__layer(data-speed="0.1")
              img(src=require("images/parallax/pm1.jpg")).parallax__image
            .parallax__layer(data-speed="0.25")
              img(src=require("images/parallax/parm2.png")).parallax__image
            .parallax__layer(data-speed="0.35")
              img(src=require("images/parallax/parm3.png")).parallax__image
            .parallax__layer(data-speed="0.38")
              img(src=require("images/parallax/parm4.png")).parallax__image
            .parallax__layer(data-speed="0.45")
              img(src=require("images/parallax/parm5.png")).parallax__image
            .parallax__layer(data-speed="0.48")
              img(src=require("images/parallax/parm6.png")).parallax__image
            .parallax__layer(data-speed="0.50")
              img(src=require("images/parallax/parm7.png")).parallax__image
          section.fullscreen-section.hero
            .container.hero__container
              header.header
                .header__logo
                  a(href="").logo ИН
                .header__menu 
                  nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href='').nav__link #{item}
                .header__buttons
                  ul.socials
                    - var socials = ['insta', 'vk', 'github'];
                    each item in socials
                      li.socials__item
                        a(href="#").socials__link
                          +icon(item, 'socials__icon')
                .header__sandwich
                  a(href="#").sandwich__link
                    img(src=require("images/content/sandwich.png")).sandwich-img

              .hero__content
                .userinfo
                  .userinfo__title Личный сайт #[span.userinfo__occ веб разработчика]
                  .userinfo__name Игорь Немгиров
              .hero__downbutton
                .scroll-down
                  a(href="").scroll-down__btn Скролл
                  
          section.about
            .container
              .about__columns
                .about__user
                  .user
                    .user__avatar
                      .user__avatar-wrapper
                        +image('content/Aigor.jpg', 'user__avatar-pic')
                    .user__about
                      - 
                        var userinfo = [
                          ['Проживаю:', "Москва"],
                          ['Возраст:', ""],
                          ['Родился:', ""],
                        ];
                      table.user__table
                        each item in userinfo
                          tr
                            td.user__table-title #{item[0]}
                            td.user__table-content #{item[1]}
                .about__user-text
                  .about__main-text-content
                    .about__desc Привет, меня зовут
                    .about__title Игорь Немгиров
                    .about__text-info
                      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  .about__ps
                    | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        .triangles.triangles_top
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,100 1000,100 1000,0")
        .middle-section
          section.values
            .container.values__container
              .values__image
                img(src=require("images/content/backpack.jpg")).backpack-img
              .values__wrapper
                .values__title
                  .values__title-container
                    .values__title-text Чем я могу быть полезен вам
                    .values__content
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
                .values__widget
                  #skills-component

          section.works
            .container.works__container
              .section-title.works__section-title Мои работы
              .works__content
                #slider-component

        .triangles.triangles_bottom
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_left
            polygon(points="0,0 1000,0 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__shape.triangles__shape_right
            polygon(points="0,0 0,100 1000,0")

        section.reviews
          .container.reviews__container
            .reviews__header#reviews
              .reviews__about
                h2.section-title__reviews Что обо мне говорят
                .reviews__arrows
                  button(@click="previous()" ref="prevBtn").arrow__left
                    +icon('arrow-down', 'arrow-icon')
                  button(@click="next()" ref="nextBtn").arrow__right
                    +icon('arrow-down', 'arrow-icon')
              .reviews__wrapper
                flickity(ref="flickity" :options="flickityOptions").reviews__list
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/kovalchuk.jpg", "avatar__pic")
                        .reviews__author-info
                          h3.reviews__title Ковальчук Дмитрий
                          p.reviews__position Основатель Loftschool
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/sabantsev.jpg", "avatar__pic")
                        .reviews__author-info
                          h3.reviews__title Сабанцев Владимир
                          p.reviews__position Преподаватель
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/kovalchuk.jpg", "avatar__pic")
                        .reviews__author-info
                          h3.reviews__title Ковальчук Дмитрий
                          p.reviews__position Основатель Loftschool
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/sabantsev.jpg", "avatar__pic")
                        .reviews__author-info
                          h3.reviews__title Сабанцев Владимир
                          p.reviews__position Преподаватель
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/kovalchuk.jpg", "avatar__pic")
                        .reviews__author-info
                          h3.reviews__title Ковальчук Дмитрий
                          p.reviews__position Основатель Loftschool
                  .reviews__item
                    .reviews__content
                      p.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .reviews__author
                        .reviews__avatar
                          .avatar-img
                            +image("content/sabantsev.jpg", "avatar__pic")

            .contacts__form
              .form
                .section-title.contacts__form-title Связаться со мной
                form.form__elem
                  .form__row
                    - 
                      var fields = [
                        ['user', 'Введите ваше имя', 'Ковальчук Дмитрий'],
                        ['envelope', 'Введите ваш email', 'loftschool@study.com'],
                      ]
                    each item in fields
                      label.form-block(data-title=item[1])
                        .form-block__container
                          +icon(`${item[0]}`, 'form-block__icon') 
                          .form-block__field
                            input(type="text" placeholder=item[2]).form-block__input
                  .form__row.form__row--extra-margin
                    label.form-block(data-title="Сообщение к письму")
                      .form-block__container.form-block__container_align_top
                        +icon('message', 'form-block__icon') 
                        .form-block__field
                          textarea(
                            placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса"
                          ).form-block__input
                  .from__row
                    input(type="submit" value="отправить").gradient-btn.form__submit

      footer.footer
        .container.footer__container
          .footer__left
            .copyright &copy;2019
            .user-info__footer
              .user-info__username-footer Игорь<br>Немгиров
              h3.user-info__desc-footer Личный сайт<br>веб разработчика
          .footer__right
            .footer__right-top
                nav.nav
                  - var menu = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться']
                  ul.nav__list-footer
                    each item in menu
                      li.nav__item-footer
                        a(href='').nav__link-footer #{item}
            .footer__right-bottom
              .footer__right-bottom-left
                p.footer-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                .footer__socials
                  - var icons = ['insta', 'vk', 'github']
                  ul.socials
                    each item, index in icons
                      li.socials__item-footer(class=`${index === 1 ? 'active' : ''}`)
                        a(href='#').socials__link-footer
                          +icon(`${item}`, 'socials__icon-footer')
              .footer__right-bottom-right
                p.footer-text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                p.footer-text-author Martin Golding
    include ./templates/entry.pug
  





